---
layout: page
nav-short: true
show-avatar: false
title: Hello!
subtitle: This is <b>Nikhil Pandey</b>.
css: "/css/index.css"

bigimg:


 - "img/display/5B9A5352-8C2E-4B85-8721-9C69957CBA0B_1_102_a.jpeg":""	
 - "img/display/BEE26CE4-C55A-455E-B129-5D7A2A38A9B9_1_201_a.jpeg":""
 - "img/display/67C3AC74-CFD3-40FA-81AA-EAF2520AFC2B_1_105_c.jpeg":""	
 - "img/display/C6E62784-40FA-482C-9274-CC763C288CCA_1_105_c.jpeg":""
 - "img/display/72C40900-3676-40B1-B476-ABD19CA86E5D_1_102_a.jpeg":""
 - "img/display/CC0244C6-BE38-4315-B4BD-68B15B39CF8F_1_105_c.jpeg":""
 - "img/display/770B77F6-E2D3-4E9C-BE47-9FAC1D28E359_1_105_c.jpeg":""	
 - "img/display/DE79E5CB-506D-467A-AC71-1A0CED303318_1_105_c.jpeg":""
 - "img/display/A4FD598A-9E70-42F5-B8CA-9215B76156F5_1_105_c.jpeg":""	
 - "img/display/E1554D71-9E46-48B5-8671-DBA0CBFAD305_1_105_c.jpeg":""
 - "img/display/A8AE8617-C74B-424F-9A91-7A0D06B7700E_1_105_c.jpeg":""	
 - "img/display/E961F75D-3042-4208-97FC-2EE681E5A89A_1_105_c.jpeg":""
 - "img/display/AFB1DEF0-55EE-4ED8-B0F4-FB45174123A4_1_102_a.jpeg":""	
 - "img/display/F07DB939-1811-4751-B6F7-696A1D49C963_1_102_a.jpeg":""

---





<div class="list-filters">
  <a href="/" class="list-filter filter-selected">All posts</a>
  <!-- <a href="/popular" class="list-filter">Most Popular</a>
  <a href="/tutorials" class="list-filter">Tutorials</a> -->
  <a href="/tags" class="list-filter">Index</a>
</div>


<div class="posts-list">
  {% for post in paginator.posts %}
  <article>
    <a class="post-preview" href="{{ post.url | prepend: site.baseurl }}">
	    <h2 class="post-title">{{ post.title }}</h2>
	
	    {% if post.subtitle %}
	    <h3 class="post-subtitle">
	      {{ post.subtitle }}
	    </h3>
	    {% endif %}
      <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
      </p>

      <div class="post-entry">
        {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
        <span href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</span>
      </div>
    </a>  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}